<ion-tabs [selectedIndex]="mySelectedIndex" name="basicTabs">
    <ion-tab [root]="tab1Root" tabTitle="{{'WatchList'|Language}}" tabIcon="pie"> </ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="{{'Market'|Language}}"    tabIcon="analytics"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="{{'News'|Language}}"      tabIcon="book"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="{{'Login'|Language}}"  tabIcon="log-in"  ></ion-tab>
</ion-tabs>
<!-- <ion-tabs #myNotLoggedTabs [selectedIndex]="mySelectedIndex" name="conference">
    <ion-tab [root]="tab1Root" tabTitle="{{'WatchList'|Language}}" tabIcon="pie"> </ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="{{'Market'|Language}}"    tabIcon="analytics"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="{{'News'|Language}}"      tabIcon="book"></ion-tab>
    <ion-tab [root]="tab4Root" *ngIf="!isLoggedIn" tabTitle="{{'Login'|Language}}" tabIcon="log-in"></ion-tab> 
    <ion-tab [root]="tab5Root" *ngIf="isLoggedIn" tabTitle="{{DynamicTitle|Language}}"  tabIcon="cart"  ></ion-tab>
</ion-tabs> -->
