cust-nav {
    .toolbar-title{
        //text-align: center!important;
    }

    .status label{
        font-size: 1.16rem!important;
        border-radius: 10px!important;
        padding-left: 4px !important;
        padding-right: 4px !important;
        vertical-align: middle;
        text-align: center;
    }
    .info{
        color: orange;
        Text-Transform: capitalize;
    }
    .title{

    }
    .toolbar-title{
        padding:0px 0px!important;
        //display:inline!important;
    }
}
