<ion-split-pane side="left" class="cust-menu-root">
      <!-- logged out menu -->
      <ion-menu id="loggedOutMenu" [content]="content">
        <ion-header >
          <ion-toolbar>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="outer-content">
          <ion-list class="cust-menu-list">
            <ion-list-header class="cust-menu-header">
              Navigate
            </ion-list-header>
              <button ion-item menuClose *ngFor="let p of app_Pages" (click)="openPage(p)">
                <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
                {{p.title}}
              </button>
          </ion-list>
          <ion-list class="cust-menu-list">
            <ion-list-header class="cust-menu-header">
              Account
            </ion-list-header>
            <button ion-item menuClose *ngFor="let p of loggedOut_Pages" (click)="openPage(p)">
              <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
              {{p.title}}
            </button>
          </ion-list>
          <ion-list class="cust-menu-list">
            <ion-list-header class="cust-menu-header">
              Tutorial
            </ion-list-header>
            <button ion-item menuClose (click)="openTutorial()">
              <ion-icon item-start name="hammer"></ion-icon>
              Show Tutorial
            </button>
          </ion-list>
        </ion-content>
      </ion-menu>
    
      <!-- logged in menu -->
      <ion-menu id="loggedInMenu" [content]="content">
        <ion-header>
          <ion-toolbar>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="outer-content">
          <ion-list class="cust-menu-list">
            <ion-list-header class="cust-menu-header">
              Navigate
            </ion-list-header>
            <button ion-item menuClose *ngFor="let p of app_Pages" (click)="openPage(p)">
              <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
              {{p.title}}
            </button>
          </ion-list>
          <ion-list class="cust-menu-list">
            <ion-list-header class="cust-menu-header">
              Account
            </ion-list-header>
            <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p)">
              <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
              {{p.title}}
            </button>
          </ion-list>
          <ion-list class="cust-menu-list">
            <ion-list-header class="cust-menu-header">
              Tutorial
            </ion-list-header>
            <button ion-item menuClose (click)="openTutorial()">
              <ion-icon item-start name="hammer"></ion-icon>
              Show Tutorial
            </button>
          </ion-list>
        </ion-content>
      </ion-menu>
      <!-- main navigation -->
      <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>
</ion-split-pane>
